body{
    background-image: url("bg tugas2.jpg");
    background-repeat: no-repeat;
    background-position: fixed;
    width: 100%;
    background-size: 100% 100%;
    background-attachment: fixed;
}